##############################################################
#           AKS Voron 3.1 Final Version                      #
##############################################################
# Date : 16/01/2026      Version based on Sibor              #
# Author : Amit Kumar                                        #
##############################################################

##############################################################
#           Printer                                          #
##############################################################
##############################################################
#                   Model and Acceleration                   # 
##############################################################

[printer]
kinematics: corexy                       # Printer type: corexy.
max_velocity: 300                        # Maximum speed (max. 300 mm/s).
max_accel: 5000                          # Maximum acceleration (max. 5000 mm/s²).
max_accel_to_decel: 8000                 # Maximum acceleration to deceleration (max. 8000 mm/s²).
max_z_velocity: 15                       # Z-axis maximum speed (15 mm/s).
max_z_accel: 350                         # Z-axis maximum acceleration (350 mm/s²).
square_corner_velocity: 5.0              # Square corner velocity (5.0 mm/s).

##############################################################
#            MCU's                                           #
##############################################################
#                       MCU Octopus                          #
##############################################################

[mcu] #Done
canbus_uuid: 319319024e88                # CAN bus unique identifier for Octopus MCU.
canbus_interface: can0                   # CAN bus interface.

#####################################################################
##                     cartographer V4 (ADXL 345)
#####################################################################

[scanner]
canbus_uuid:
#    Fill in the UUID that was just recorded           
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 21                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.05         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.


[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345             # Specifies ADXL345 accelerometer for resonance testing
probe_points:
    175, 175, 20                # Coordinates of the probe points for resonance testing

[safe_z_home]
home_xy_position: 175,175                # Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10                                # Z axis hop height after homing.

##############################################################
#           Heater Bed                                       #
##############################################################
[heater_bed]
heater_pin: PA3                          # (HE1)
sensor_pin: PF3                          # sensor interface(TB)
sensor_type: ATC Semitec 104GT-2	     # ATC Semitec 104GT-2
min_temp: 0                              # Minimum temperature threshold
max_temp: 120                            # Maximum temperature threshold
max_power: 1.0                           # Maximum power for the heater or fan

#--------------------------------------------------------------------

[idle_timeout]
timeout: 1800                            # Time in seconds (30 minutes) before turning off the hot bed if idle
##############################################################
#               Temperature Monitoring                       #
##############################################################

[temperature_sensor EBB_NTC] #Done
sensor_type: Generic 3950                # Sensor type for NTC thermistor (commented out).
sensor_pin: EBBCan:gpio28                # Pin connected to NTC thermistor (commented out).

[temperature_sensor BTT-MCU] #Done
sensor_type: temperature_mcu             # MCU internal temperature sensor.

[temperature_sensor BTT-PI] #Done
sensor_type: temperature_host        
##############################################################
#           Stepper X and Y                                  #
##############################################################


##############################################################
#           Stepper Z                                        #
##############################################################

##############################################################
#           Probe                                            #
##############################################################


##############################################################
#           Includes                                         #
##############################################################
Includes /config/sensorlesshoming.cfg
includes /config/zendstop_eddy_usb.cfg